@page
@model FatClub.Pages.Restaurants.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>



<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.Description)
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
    {
        <a asp-page="AddFood" asp-route-id="@Model.Restaurant.RestaurantID">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Food)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                    {
                        <p>
                            <!--<a asp-page="./EditFood" asp-route-FoodID="@item.FoodID" asp-route-id="@item.RestaurantID">Edit</a> |-->
                            <a asp-page="./DeleteFood" asp-route-FoodID="@item.FoodID" asp-route-id="@item.RestaurantID">Delete</a>

                        </p>
                    }
                    <form method="post" asp-page-handler="AddToCart" asp-route-id="@Model.Restaurant.RestaurantID" asp-route-FoodID="@item.FoodID">
                        <input name="quantity-@item.FoodID" type="number" min="1" max="5" required value="1" />

                        <input id="button" type="submit" value="Add" />
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
    {
        <text><a asp-page="./Edit" asp-route-id="@Model.Restaurant.RestaurantID">Edit</a> |</text>
    }
    <a asp-page="./Index">Back to List</a>
</div>

<script type="text/javascript">
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
@if (ViewData.ContainsKey("output"))
{

    string str = ViewData["output"].ToString();
    if (str == "Your food as been added to the cart")
    {
        <script type="text/javascript">alert("Your food as been added to the cart.")</script>
    }
    else if (str == "Invalid quantity")
    {
        <script type="text/javascript">alert("Please enter a valid quantity.")</script>
    }
    else
    {
        <script type="text/javascript">alert("You can only order food from 1 restaurant. Sorry for the inconvenience.")</script>
    }
}