@page
@model FatClub.Pages.Restaurants.IndexModel

@{
    ViewData["Title"] = "Index";
}


    <h1>Index</h1>
    <body>
        <p>
            @if (User.IsInRole("Admin") || User.IsInRole("Staff")){
                <a asp-page="Create">Create New</a>
            }

        </p>
        <section>
            <h1>Fat Club</h1>
            <div class="title-container">
                <div></div>
                <h2>Redefining food, one mouth at a time.</h2>
            </div>
        </section>
        <form>
            <p>
                Title: <input type="text" asp-for="searchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
        <!--<input class="search-bar" type="text" placeholder="What've you been craving..." asp-for="searchString"> -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurant[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurant[0].Genre)
                    </th>
                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Restaurant.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Restaurant[i].Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Restaurant[i].Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.RatingList[i])
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@Model.Restaurant[i].RestaurantID">Details</a>
                            @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                            {
                                <text>|</text> <a asp-page="./Delete" asp-route-id="@Model.Restaurant[i].RestaurantID">Delete</a>
                            }
                        </td>
                    </tr>
                }
                <!--@for (var i = 0; i < (ViewData["RatingList"] as IList<int>).Count(); i++)
    {
    @foreach (var item in Model.Restaurant)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(model => model.RatingList[i])
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.RestaurantID">Details</a>
                @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                {
                    <text>|</text> <a asp-page="./Delete" asp-route-id="@item.RestaurantID">Delete</a>
                }
            </td>
            count+=1
        </tr>
    }
    }-->
            </tbody>
        </table>
    </body>
