@page
@model FatClub.Pages.Foods.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if(Request.IsHttps)
{
    if (User.IsInRole("Admin") || User.IsInRole("Staff")) 
    {
        <style>
            .adminOnly{
                visibility: visible;
            }
        </style>
    }
    else
    {
        <style>
            .adminOnly{
                visibility: hidden;
            }
        </style>
    }
}

<h1>Index</h1>

<p>
    <ui class="adminOnly">
        <a asp-page="Create">Create New</a>
    </ui>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <ui class="adminOnly">
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                </ui>
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> 
                <ui class="adminOnly">
                    | <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </ui>
            </td>
        </tr>
}
    </tbody>
</table>
